*{
    margin:0px;
    padding:0px;
}
#modal{
    position:relative;
    display: none;
    border: 3px solid gray;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}
body{
    background-color: black;
}
#wrap{
    border:3px solid white;
    border-radius: 10px;
    margin: 0 auto;
    margin-top : 5%;
    width: 30%;
    height: 600px;
}
#form-submit{
    border-bottom: 3px solid white;
    text-align: center;
    padding :30px;
}
#result{
    height: 515px;
    overflow: scroll;
    -ms-overflow-style: none;
}
/* 스크롤바 숨기기 */
#result::-webkit-scrollbar{ display:none; }

.list{
    color: white;
    margin : 30px;
    border-bottom: 3px solid white;
}
.list > span{

}
.list > input{
    float : right;
    border-radius: 7px;
}