.wrap{
    padding-top: 5%;
    /* background-color: aquamarine; */
    width: 100%;
    height:100%;
    
}

.input{
    background-color: aqua;
    border-radius: 10px;
    border: 3px solid black;
    padding:1%;
    width: 25%;
    margin:0 auto;
    text-align: center;
}

#output{
    background-color: bisque;
    border-radius: 10px;
    border: 3px solid black;
    width: 27%;
    height: 500px;
    margin:0 auto;
    margin-top: 10px; 
    text-align: center; 
}