$padding: 15px;

ul,
ol,
dl {
  list-style: none;
}
* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border-collapse: collapse;
}
html {
  font-size: 100%;
  height: 100%;
}
body {
  height: 100%;
}
.wrap {
  width: 628px;
  height: 1792px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px $padding 0px $padding;

  .header__title {
    color: black;
  }
  > .nav {
    > li {
      margin-left: 20px;
      > .nav__btn {
        background-color: white;
      }
    }
  }
}

.storys {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid darkgray;
  &::-webkit-scrollbar {
    display: none;
  }
  > .storys__mystory {
    margin-right: 15px;
    > .storys__username {
      width: 100%;
      text-align: center;
    }
    > img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}

.content {
  width: 100%;
  margin-top: $padding;
  margin: $padding 0px $padding 0px;
  > .content_img {
    width: 100%;
  }
  > .icons {
    display: flex;
    justify-content: space-between;
  }
  > .subContent {
    > .subContent__input {
      margin-top: $padding;
      display: flex;
      justify-content: space-between;
      > .subContent__userImage {
        width: 30px;
        height: 30px;
      }
      > .subContent__incons {
        > button {
          background-color: white;
        }
      }
      > .subContent__insert {
        flex: 1;
      }
    }
  }
  > .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    > .content__userInfo {
      > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}

.footer {
  width: 628px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid darkgray;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 25px;
    height: 25px;
  }
  > .footer__mypage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
