<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" type = "text/css" href="/stylesheets/createuser.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <div class = 'start'>
        <div class = 'background'>
            <div class = 'text'>
                <h1>회원가입<br>
                정보를 입력해주세요!
            </div>
            <div class = 'input_text'>
                <form action = '/create/user' method="post">
                    이름 : <input type = "text" name = "NAME" size = "35"><br>
                    ID : <input type = "text" name = "ID" size = "35"><br>
                    PW : <input type = "password" name = "PW" size = "35"><br>
                    <input type = "submit" value="회원가입">
                </form>
            </div>
        </div>
    </div>
</body>
</html>