<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href="main.css">
    <title>달력</title>
</head>

<body>
    <div class = intro>
        <div class = header>
            <h2>달력</h2><br>
            <div class = header_main>
                <div id = header_date>
                    <!-- 날짜 동적으로 생성 -->
                </div>
                <form class = inputinfo>
                    <input type="text" name="year" size = 35 required placeholder="년도를 입력하시오."><br>
                    <input type="text" name="month" size = 35 required placeholder="월을 입력하시오."><br>
                    <input type="text" name="dat" size = 35 required placeholder="일을 입력하시오.">
                    <div class = moveright>
                        <textarea name="contents" rows = "5" cols  = "40" wrap = "virtual" style="resize: none;">내용을 입력하시오.</textarea><br>
                        <input type = "submit" value="기록"><br>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</body>
<script src = "main.js"></script>
</html>